<%#
  Copyright (C) 2016  Jean-Philippe Lang
  Copyright (C) 2024  Sutou Kouhei <kou@clear-code.com>

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along
  with this program; if not, write to the Free Software Foundation, Inc.,
  51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-%>

<% if modal -%>
  <h3 class="title"><%= l(:label_wiki_article_article_new) %></h3>
<% else -%>
  <%= title l(:label_wiki_article_article_new) %>
<% end -%>

<% form_id = "wiki_article_form_#{Redmine::Utils.random_hex(16)}" %>
<%= labelled_form_for :page, @page,
                      url: new_project_wiki_page_path(@project),
                      method: "put",
                      html: {id: form_id},
                      data: {
                        action_template: url_for(controller: "wiki",
                                                 action: "update",
                                                 id: "__title__"),
                      } do |f| %>
  <%= render_error_messages @page.errors.full_messages_for(:title) %>
  <%= f.hidden_field :parent_id, name: "wiki_page[parent_id]" %>
  <div class="box tabular">
    <p>
      <%= f.text_field :title, name: "title", size: 60, required: true %>
      <em class="info"><%= l(:text_unallowed_characters) %>: , . / ? ; : |</em>
    </p>
    <p>
      <%= f.label_for_field :template, label: :label_wiki_article_template %>
      <%= text_field_tag :template, @template, size: 60 %>
      <em class="info"><%= l(:text_unallowed_characters) %>: , . / ? ; : |</em>
    </p>
  </div>

  <% if modal -%>
    <p class="buttons">
      <%= submit_tag(l(:label_next), name: nil) %>
      <%= link_to_function l(:button_cancel), "hideModal(this);" %>
    </p>
  <% else -%>
    <%= submit_tag(l(:label_next)) %>
  <% end -%>
<% end -%>

<%= javascript_tag do -%>
  (function() {
    const form = document.getElementById(<%= form_id.to_json.html_safe %>);
    form.addEventListener("submit", function(event) {
      const title_field = document.getElementById("page_title");
      const template = form.dataset["actionTemplate"];
      form.action = template.replace("__title__", title_field.value);
    });
  })();
<% end -%>
